* {scroll-behavior: smooth}

#sub-root {
  background-color: var(--secondary-color);
}

:root {
  --primary-color: #121212;
  --secondary-color: #FEFEFE;
  --red-color: #CC0F39;
  --green-color: #0FFBF9;
  --code-block:#C7254E;
  --code-block-background-color: #F9F2F4;
  --spoiler-tag-background:#202225;
  --spoiler-tag-hover: #202225CC;
  --exposed-spoiler-tag: #FFFFFF1A;
}

.light-theme {
  --primary-color: #FEFEFE;
  --secondary-color: #121212;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 500;
}